#backend site url
NEXT_PUBLIC_API_BASE_URL=

#frontend site url
NEXT_PUBLIC_SITE_URL=https://infitech-innovation-web.vercel.app

#chatbot config
NEXT_PUBLIC_INFITECH_TENANT=chat_tenant
NEXT_PUBLIC_INFITECH_SECRET=chat_secret